[Unit]
Description=WebApp VozesNaTech . 
After=network.target

[Service]
ExecStart=/usr/bin/python3.13 /opt/VozesNaTech/main.py
Restart=always
User=root
WorkingDirectory=/opt/VozesNaTech

[Instal]
WantedBy=multi-user.target